swagger: '2.0'
info:
  title: Instagram Account Insights API
  description: These APIs provide services for interacting with the Instagram account insights API.
  version: '2.4.0'
host: graph.facebook.com 
schemes:
  - https
basePath: /v24.0
produces:
  - application/json
consumes:
  - application/json
securityDefinitions:
  access_token:
    type: apiKey
    name: access_token
    in: query
    description: Instagram Graph API Page access token. See https://developers.facebook.com/docs/facebook-login/guides/access-tokens/#pagetokens.
security:
  - access_token: []
paths:
  /{instagram_account_id}:
    get:
      summary: Get fields and edges on an Instagram User.
      description: |
        Get fields and edges on an Instagram Business or Creator Account.
        This endpoint returns the requested public fields and available edges for the targeted Instagram professional account.
        
        Edges available on an Instagram User include: media, stories, insights, mentions, tags, mentioned_media, mentioned_comment, business_discovery, and others depending on permissions.
      tags:
        - user
      operationId: GetInstagramUserByID
      parameters:
        - $ref: '#/parameters/instagramAccountId'
        - $ref: '#/parameters/fields'
        - $ref: '#/parameters/requestId'
      responses:
        '200':
          description: Return Instagram User object with requested fields.
          schema:
            $ref: '#/definitions/InstagramUser'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '403':
          $ref: '#/responses/403'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'

  /{instagram_account_id}/media:
    get:
      summary: Get all IG Media on an IG User.
      description: |
        Get all IG Media on an IG User.
        
        Limitations:
        - Returns a maximum of 10K of the most recently created media.
        - Story IG Media not supported, use the GET /{instagram_account_id}/stories endpoint instead.
      tags:
        - media
      operationId: GetMediaByUserID
      parameters:
        - $ref: '#/parameters/instagramAccountId'
        - $ref: '#/parameters/since'
        - $ref: '#/parameters/until'
        - $ref: '#/parameters/requestId'
      responses:
        '200':
          description: Return list of media objects.
          schema:
            $ref: '#/definitions/InstagramMedia'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '403':
          $ref: '#/responses/403'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
    post:
      summary: Create an IG Container for publishing.
      description: |
        Create an image, carousel, story or reel IG Container for use in the post publishing process.
        
        Limitations:
        - Containers expire after 24 hours
        - An Instagram account can only create 400 containers within a rolling 24 hour period
        - Reels cannot appear in carousels
        - Stories expire after 24 hours
      tags:
        - media
      operationId: CreateMediaContainer
      parameters:
        - $ref: '#/parameters/instagramAccountId'
        - $ref: '#/parameters/imageUrl'
        - $ref: '#/parameters/videoUrl'
        - $ref: '#/parameters/mediaType'
        - $ref: '#/parameters/caption'
        - $ref: '#/parameters/altText'
        - $ref: '#/parameters/isCarouselItem'
        - $ref: '#/parameters/locationId'
        - $ref: '#/parameters/userTags'
        - $ref: '#/parameters/productTags'
        - $ref: '#/parameters/collaborators'
        - $ref: '#/parameters/children'
        - $ref: '#/parameters/coverUrl'
        - $ref: '#/parameters/audioName'
        - $ref: '#/parameters/thumbOffset'
        - $ref: '#/parameters/shareToFeed'
        - $ref: '#/parameters/uploadType'
        - $ref: '#/parameters/requestId'
      responses:
        '200':
          description: Container created successfully.
          schema:
            $ref: '#/definitions/MediaContainerCreated'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '403':
          $ref: '#/responses/403'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /{instagram_account_id}/stories:
    get:
      summary: Get stories for an Instagram User.
      description: |
        Returns a list of story IG Media objects on an IG User.
        
        Limitations:
        - Responses will not include Live Video stories.
        - Stories are only available for 24 hours.
        - New stories created when a user reshares a story will not be returned.
        - Only one caption will be returned per Instagram story, even if more than one caption exists.
      tags:
        - stories
      operationId: GetStoriesByUserID
      parameters:
        - $ref: '#/parameters/instagramAccountId'
        - $ref: '#/parameters/requestId'
      responses:
        '200':
          description: Return list of story media objects.
          schema:
            $ref: '#/definitions/InstagramStories'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '403':
          $ref: '#/responses/403'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'
  /{instagram_account_id}/insights:
    get:
      summary: Get insights data on an Instagram Account.
      description: |
        Get insights data on your app user's Instagram business or creator account.
        
        The following metrics have been deprecated for v22.0 and will be deprecated for all versions on April 21, 2025:
        - impressions
        
        Introducing the new views metric with total_value metric type and with breakdowns for follower_type and media_product_type.
        
        Limitations:
        - follower_count and online_followers metrics are not available on Instagram business or creator accounts with fewer than 100 followers.
        - Insights data for the online_followers metric is only available for the last 30 days.
        - If insights data you are requesting does not exist or is currently unavailable, the API returns an empty data set instead of 0 for individual metrics.
        - Demographic metrics only return the top 45 performers.
        - Only viewers for whom we have demographic data are used in demographic metric calculations.
        - Summing demographic metric values may result in a value less than the follower count.
        - Data used to calculate metrics may be delayed up to 48 hours.
      tags:
        - insights
      operationId: GetInsightsByAccountID
      parameters:
        - $ref: '#/parameters/instagramAccountId'
        - $ref: '#/parameters/accountMetric'
        - $ref: '#/parameters/accountPeriod'
        - $ref: '#/parameters/accountMetricType'
        - $ref: '#/parameters/accountBreakdown'
        - $ref: '#/parameters/timeframe'
        - $ref: '#/parameters/since'
        - $ref: '#/parameters/until'
        - $ref: '#/parameters/requestId'
      responses:
        '200':
          description: Return matched Instagram Account insights.
          schema:
            $ref: '#/definitions/InstagramAccountInsights'
        '400':
          $ref: '#/responses/400'
        '401':
          $ref: '#/responses/401'
        '403':
          $ref: '#/responses/403'
        '404':
          $ref: '#/responses/404'
        '500':
          $ref: '#/responses/500'

parameters:
  requestId:
    name: X-Request-Id
    description: An unique ID for the request
    in: header
    type: string
    required: false
    minLength: 1
  instagramAccountId:
    name: instagram_account_id
    in: path
    description: Instagram Account ID (your app user's Instagram professional account ID)
    required: true
    type: string
  fields:
    name: fields
    in: query
    description: Comma-separated list of fields to return for the IG User (e.g. id,username,biography,followers_count,media_count,profile_picture_url,website). Only requested fields will be returned.
    required: false
    type: string
  accountMetric:
    name: metric
    in: query
    description: |
      Required. Comma-separated list of metrics you want returned. Available metrics include:
      
      Interaction Metrics:
      - accounts_engaged (day period, total_value metric type)
      - comments (day period, total_value metric type, media_product_type breakdown)
      - engaged_audience_demographics (lifetime period, total_value metric type, age/city/country/gender breakdowns)
      - follows_and_unfollows (day period, total_value metric type, follow_type breakdown)
      - follower_demographics (lifetime period, total_value metric type, age/city/country/gender breakdowns)
      - impressions (day period, total_value/time_series metric type) - DEPRECATED for v22.0+
      - likes (day period, total_value metric type, media_product_type breakdown)
      - profile_links_taps (day period, total_value metric type, contact_button_type breakdown)
      - reach (day period, total_value/time_series metric type, media_product_type/follow_type breakdowns)
      - replies (day period, total_value metric type)
      - saved (day period, total_value metric type, media_product_type breakdown)
      - shares (day period, total_value metric type, media_product_type breakdown)
      - total_interactions (day period, total_value metric type, media_product_type breakdown)
      - views (day period, total_value metric type, follower_type/media_product_type breakdowns)
    required: true
    type: string
  accountPeriod:
    name: period
    in: query
    description: |
      Required. Period aggregation. Values can be:
      - day (for interaction metrics)
      - lifetime (for demographic metrics)
    required: true
    type: string
  accountMetricType:
    name: metric_type
    in: query
    description: |
      Designates if you want the responses aggregated by time period or as a simple total. Values can be:
      - time_series (aggregate results by time period)
      - total_value (return results as a simple total, with breakdowns if requested)
    required: false
    type: string
  accountBreakdown:
    name: breakdown
    in: query
    description: |
      Designates how to break down result set into subsets. Values can be:
      - contact_button_type (divides results by profile component: BOOK_NOW, CALL, DIRECTION, EMAIL, INSTANT_EXPERIENCE, TEXT, UNDEFINED)
      - follow_type (breaks down by followers or non-followers: FOLLOWER, NON_FOLLOWER, UNKNOWN)
      - media_product_type (breaks down by surface: AD, FEED, REELS, STORY)
      - age (for demographic metrics)
      - city (for demographic metrics)
      - country (for demographic metrics)
      - gender (for demographic metrics)
      
      Only compatible with metric_type=total_value. See metric descriptions for compatible breakdowns.
    required: false
    type: string
  timeframe:
    name: timeframe
    in: query
    description: |
      Required for demographics-related metrics. Designates how far to look back for data. Values can be:
      - last_14_days (deprecated beginning with v20.0)
      - last_30_days (deprecated beginning with v20.0)
      - last_90_days (deprecated beginning with v20.0)
      - prev_month (deprecated beginning with v20.0)
      - this_month (returns data in the last 30 days)
      - this_week (returns data in the last 7 days)
      
      This parameter overrides since and until parameters.
    required: false
    type: string
  since:
    name: since
    in: query
    description: Unix timestamp indicating start of range. The API will only include data created within this range (inclusive). If not included, API looks back 24 hours.
    required: false
    type: integer
    format: int64
  until:
    name: until
    in: query
    description: Unix timestamp indicating end of range. The API will only include data created within this range (inclusive). If not included, API looks back 24 hours.
    required: false
    type: integer
    format: int64
  imageUrl:
    name: image_url
    in: query
    description: Required for images. The path to the image. We will cURL the image using the URL that you specify so the image must be on a public server.
    required: false
    type: string
  videoUrl:
    name: video_url
    in: query
    description: Required for videos and reels. Path to the video. We cURL the video using the passed-in URL, so it must be on a public server.
    required: false
    type: string
  mediaType:
    name: media_type
    in: query
    description: |
      Required for carousels, stories, and reels. Indicates container is for a carousel, story or reel. Values:
      - CAROUSEL
      - REELS
      - STORIES
    required: false
    type: string
    enum: [CAROUSEL, REELS, STORIES]
  caption:
    name: caption
    in: query
    description: A caption for the image, video, or carousel. Maximum 2200 characters, 30 hashtags, and 20 @ tags. Not supported on images or videos in carousels.
    required: false
    type: string
  altText:
    name: alt_text
    in: query
    description: For image posts only. Alternative text, up to 1000 characters. Only supported on single images or images in a carousel. Reels and stories not supported.
    required: false
    type: string
  isCarouselItem:
    name: is_carousel_item
    in: query
    description: Applies only to images and videos. Set to true to indicate image or video appears in a carousel.
    required: false
    type: boolean
  locationId:
    name: location_id
    in: query
    description: The ID of a Page associated with a location to tag the media with. Not supported on images or videos in carousels.
    required: false
    type: string
  userTags:
    name: user_tags
    in: query
    description: |
      Array of public usernames and x/y coordinates for tagging Instagram users. Format: [{"username":"user1","x":0.5,"y":0.8}]
    required: false
    type: string
  productTags:
    name: product_tags
    in: query
    description: |
      Array of product tags (max 5). Format: [{"product_id":"123","x":0.5,"y":0.8}]
    required: false
    type: string
  collaborators:
    name: collaborators
    in: query
    description: For Feed images, Reels, and Carousels only. List of up to 3 Instagram usernames as collaborators. Format ["username1","username2"]
    required: false
    type: string
  children:
    name: children
    in: query
    description: Required for carousels. Array of up to 10 container IDs for carousel items.
    required: false
    type: string
  coverUrl:
    name: cover_url
    in: query
    description: For Reels only. Path to an image to use as the cover image for the Reels tab.
    required: false
    type: string
  audioName:
    name: audio_name
    in: query
    description: For Reels only. Name of the audio of your Reels media.
    required: false
    type: string
  thumbOffset:
    name: thumb_offset
    in: query
    description: For videos and reels. Location in milliseconds of the frame to be used as cover thumbnail. Default is 0.
    required: false
    type: integer
  shareToFeed:
    name: share_to_feed
    in: query
    description: For Reels only. When true, reel can appear in both Feed and Reels tabs. When false, only in Reels tab.
    required: false
    type: boolean
  uploadType:
    name: upload_type
    in: query
    description: Set to "resumable" for resumable upload protocol.
    required: false
    type: string
    enum: [resumable]

responses:
  '200':
    description: Success
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
  '400':
    description: Bad request
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'
  '401':
    description: Unauthorized
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'
  '403':
    description: Forbidden
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'
  '404':
    description: Not found
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'
  '405':
    description: Method not allowed
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'
  '409':
    description: Conflict
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'
  '412':
    description: Precondition failed
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'
  '415':
    description: Unsupported MediaType
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'
  '422':
    description: Unsupported Type
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'
  '500':
    description: Internal server error
    headers:
      X-Request-Id:
        description: The ID of the corresponding request for the response
        type: string
    schema:
      $ref: '#/definitions/Errors'

definitions:
  Errors:
    description: The error array that describe the errors got during the handling of request
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
  Error:
    description: a model for all the error response coming from the API
    type: object
    properties:
      code:
        type: string
        description: The error code
      message:
        type: string
        description: The error message
  InstagramStories:
    type: object
    properties:
      data:
        type: array
        description: An array containing story media object IDs
        items:
          $ref: '#/definitions/StoryMediaItem'
  StoryMediaItem:
    type: object
    properties:
      id:
        type: string
        description: Instagram Media ID for the story
  InstagramMedia:
    type: object
    properties:
      data:
        type: array
        description: An array containing media object IDs
        items:
          $ref: '#/definitions/MediaItem'
  MediaItem:
    type: object
    properties:
      id:
        type: string
        description: Instagram Media ID
  MediaContainerCreated:
    type: object
    properties:
      id:
        type: string
        description: Instagram Container ID
      uri:
        type: string
        description: URI for resumable upload (only returned for resumable upload type)
  InstagramAccountInsights:
    type: object
    properties:
      data:
        type: array
        description: An array containing objects describing your request results
        items:
          $ref: '#/definitions/AccountInsightData'
      paging:
        $ref: '#/definitions/Paging'
  AccountInsightData:
    type: object
    properties:
      name:
        type: string
        description: Metric name
      period:
        type: string
        description: Period requested (day or lifetime)
      title:
        type: string
        description: Metric title
      description:
        type: string
        description: Metric description
      total_value:
        $ref: '#/definitions/AccountTotalValue'
      values:
        type: array
        description: An array containing objects describing requested metric values (for time_series)
        items:
          $ref: '#/definitions/AccountMetricValue'
      id:
        type: string
        description: A string describing the query's path parameters
  AccountTotalValue:
    type: object
    description: Object describing requested metric and breakdown values
    properties:
      value:
        type: integer
        description: Sum of requested metric values
      breakdowns:
        type: array
        description: An array of objects describing the breakdowns requested and their results
        items:
          $ref: '#/definitions/AccountBreakdown'
  AccountBreakdown:
    type: object
    properties:
      dimension_keys:
        type: array
        description: Array of strings describing breakdowns requested
        items:
          type: string
      results:
        type: array
        description: An array of objects describing each breakdown set
        items:
          $ref: '#/definitions/AccountBreakdownResult'
  AccountBreakdownResult:
    type: object
    properties:
      dimension_values:
        type: array
        description: An array of strings describing breakdown set values (can be mapped to dimension_keys)
        items:
          type: string
      value:
        type: integer
        description: Sum of breakdown set values
      end_time:
        type: string
        description: ISO 8601 timestamp with time and offset (e.g., 2022-08-01T07:00:00+0000)
  AccountMetricValue:
    type: object
    properties:
      value:
        type: integer
        description: Metric value for the time period
      end_time:
        type: string
        description: ISO 8601 timestamp indicating end of the time period
  Paging:
    type: object
    description: An object containing URLs used to request the next set of results
    properties:
      previous:
        type: string
        description: URL to retrieve the previous page of results
      next:
        type: string
        description: URL to retrieve the next page of results

  InstagramUser:
    type: object
    description: Instagram Business or Creator Account object. Fields returned depend on the `fields` query parameter.
    properties:
      id:
        type: string
        description: Instagram User ID
      username:
        type: string
        description: Instagram username
      name:
        type: string
        description: Display name
      biography:
        type: string
        description: Public biography text
      followers_count:
        type: integer
        description: Number of followers
      follows_count:
        type: integer
        description: Number of accounts this user follows
      media_count:
        type: integer
        description: Number of media objects
      profile_picture_url:
        type: string
        description: URL to profile picture
      website:
        type: string
        description: Website URL set on profile
      is_published:
        type: boolean
        description: Whether the account is published
      has_profile_pic:
        type: boolean
        description: Whether the account has a profile picture
      legacy_instagram_user_id:
        type: string
        description: Legacy user id, if available
      shopping_product_tag_eligibility:
        type: string
        description: Shopping product tag eligibility for the account
